@using ControlloGestione.Helpers;
@model ControlloGestione.ViewModel.CtrlGestioneInfoVM
           
@{
    ViewBag.Title = "Informazioni";
}

<script src="@Url.Content("~/Scripts/vw_info.js")" type="text/javascript"></script>

<style type="text/css">
    label {
        font-style: italic;
        text-transform: uppercase;
        text-decoration: underline;
        width: auto;
    }

    li {
        margin-bottom: 10px;
    }
</style>

<h2>@ViewBag.Title</h2>

<div id="informazioni">
    <span id="message" ></span>

    <br />

    <fieldset>
      <legend>Timbrature</legend>
      <ol>
        <li>
            <label>Mattina</label>
            <div>
                @Html.DisplayFor(m => m.Mattina1) - @Html.DisplayFor(m => m.Mattina2)
            </div>
        </li>
        <li>
            <label>Pomeriggio</label>
            <div>
                @Html.DisplayFor(m => m.Pomeriggio1) - @Html.DisplayFor(m => m.Pomeriggio2)
            </div>
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Riepilogo giornata</legend>
      <ul>
        <li>
            <label>Ore giornaliere</label>
            <div id="settimanaliTotali" class="">
                @Html.DisplayFor(m => m.OreGiornaliere)
            </div>
        </li>
        
      </ul>
    </fieldset>


    <fieldset>
      <legend>Riepilogo settimana</legend>
      <ul>
        <li>
            <label>Ore lavorate</label>
            <div id="settimanaliDaFare" class="">
                @Html.DisplayFor(m => m.OreLavorate)
            </div>
        </li>        
        <li>
            <label>Ore da fare</label>
            <div id="settimanaliDaFare" class="">
                @Html.DisplayFor(m => m.OreDaFare)
            </div>
        </li>
        <li>
            <label>Ore straordinario</label>
            <div id="settimanaliDaFare" class="">
                @Html.DisplayFor(m => m.OreStraordinario)
            </div>
        </li>
      </ul>
    </fieldset>

    @Html.ImageActionLink(Url.Content("~/Content/Images/save.png"), "Home", "Info")

</div>